// web/navegayencuentra.github.io/carreralasalamedas

// grid variables
$grid-columns: 12;
$grid-max-width: 65em;
 
//color variables

$primary:#E65100;
$secondary:#2E486D;
$back: #f5f4f1;
$green:#D2FF4D;

// breakpoints
$breakpoint-small: "only screen and (min-width: 20em)";
$breakpoint-medium: "only screen and (min-width: 30em)";

@import "bourbon/bourbon";
@import "grid.scss";


body{
    background:$back;
    margin: 0;
    font-family:"Lato";
    font-weight:400;  
}

//font
h2{
    font-weight: 300;
    font-size: 2.3em;
    text-align: center;
}

h3{
    text-align: center;
    font-weight: 300;
}

//we aure any image be responsive
img {
    width: auto;
    max-width: 100%;
    height: auto; 
}

header{
    background: white;
    padding: 0.5em;
        
    h1.logo-white{
        margin:0;
        display: inline-block;
        min-height: 78px;
        min-width: 300px;
        background:url(../img/logo-carrerawhite.png) no-repeat;
        background-size:contain; 
        overflow: hidden;
        text-indent: -3000px;
        
    }
}

.nav-on{
        position: fixed;
        top:0;
        left: 0;
        z-index: 999;
}

.nav-container{
    height: 68px;
}

nav{
    padding: 1px 0;
    border-bottom: 1px solid #333;
    box-shadow: 0 0.2em 1em 0 rgba(0,0,0,0.5);
    background: white;
    width: 100%;
    ul{
        margin: 0;
        word-spacing: -0.43em;
        text-align:center;
        li{
            display: inline-block;
            zoom: 1; *display: inline; /* IE < 8: fake inline-block */
            letter-spacing: normal;
            word-spacing: normal;
            vertical-align: top;
            text-rendering: auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box; 
            padding: 1em;
            text-transform: uppercase;
            a{
                text-decoration: none;
                color:#333;
                margin-bottom: 0.5em;
                &:hover{
                    border-bottom: 1px solid #333;
                }
            }
        }
    }
}

footer{
    background: #333;
    min-height: 50px;
    padding: 1em;
    color:white;
}

.content{
    width: 100%;
    margin: auto
}

.carrera-hero{
    padding: 4em 1em;
    background:#E65100 no-repeat 0 0;
    background-image: url(../img/sunrun.jpg);
    background-size: cover;
    background-position:0 100%;
    color: white;
    text-align: center;
    position: relative;
    .logo, .hero {
        position: relative;
    }
    h2{
        font-family: "lato";
        font-size:6em;
        line-height: 90px;  
        margin: 0;
        text-transform: uppercase;
        span{
            background:$primary;
            color: white;
            display: inline block;
            padding: 0 0.5em;
            font-weight:700;
            font-size: 0.4em;
        }
    }
    p{
        font-weight:300;
        font-size: 2em;
        margin: .3em;
    }
}

.carrera-datos{
    padding: 1em 0.5em;
    .info{
        padding:.5em;
    }
    .jd{
        text-align: center;
        h2{
            font-family:"Kaushan Script";
            color: #000033;
        }
        img{
            max-height: 200px
        }
    }
}

.inscripcion{
    color: white;
    padding:1em 0;
    background:$secondary;
}

.valores{
    background: $primary;
    color: white;
    padding: 1em;
    text-align: center;
    h2, p{
        max-width: 800px;
        margin: 1em auto;        
    }
    p{
        font-size: 1.5em;
    }
}

.greatwall{
    background: #333 no-repeat;
    background-image: url(../img/greatwall.jpg);
    background-size:cover; 
    border: 1px solid #333;
    position: relative;
    text-align: center;
    margin:0;
    overflow: hidden;
    div.gw-logo{
        font-size:1.5em;
        font-family: "Kaushan Script";
        position:relative;
        background:white;
        padding: 1em;
        position: relative;
        //triangle efect
        &:before{
            content: " ";
            top:0;
            left: 100%;
            position:absolute;
            border-width:560px 5em 0px 0px;
            border-color: white transparent;
            border-style: solid;
            width: 0;
            height: 0;
            -moz-transform: scale(.9999);
        }
        p{
            margin: 0.3em;
        }
    }
    div.gw-hero{
        padding-left: 5m;
        position:relative;
        color: #fff;
        h2{
            font-size: 3em;
            span{
                color: $green;
                display: inline-block;
                border-top:5px $green solid; 
                border-bottom:5px $green solid; 
                padding: 0.1em;
                margin: 0.1em;
                font-size: 2em;
            }
        }
    }
}

.contacto{
    background: #333;
    color: white;   
    padding: 2em 0;
    div{
        padding: 1em;
    }
}

.contacto-form{
    form{
        max-width: 300px;
        margin: 0 auto;
    }
    label{
        text-align: center;
        display: block;
        max-width: 300px;

    }
    input,textarea{
        
        display: block;
        color: #333;
        margin: 1em 0;
        padding: 0.5em 0.2em;
        width:100%;
        max-width: 300px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    box-sizing: border-box; 
    }
    
    input[type="submit"]{
        background:#333;
        color:#fff;
        width:100%;
        max-width: 300px;
        
    }
    textarea{
        min-height: 120px;
    }
}

.contacto-datos{
    ul{
        padding: 0;
        list-style: none;
        max-width: 600px;
        margin: 0 auto;
    li{
        font-weight: 700;
        .icon-facebook:before{
            content: "";    
        }
        li{
            display: inline-block;
            height: 24px;
            font-weight: 400;
            line-height: 24px;
            margin-left:30px;
            padding:0.6em  0.8em 0.8em 0;
            position: relative;
            &:before{
                background: white;
                border-radius: 50%;
                color:#333;
                left:-30px;
                line-height: 24px;
                text-align: center;
                height:24px;
                width:24px;
                position: absolute;
                top:.6em;
            }
        }
    }
    }
}

.patrocinadores{
    padding: 1px 0;
    background: white;
    text-align: center;
}

.pantalla{
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    top:0;
    left:0;
}

.imagenes-p{
    li{
        padding:1em;
        -webkit-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        filter: grayscale(100%);
        &:hover{        
            -webkit-filter: grayscale(0%);             
            -ms-filter: grayscale(0%); 
            -moz-filter: grayscale(0%); 
            filter: grayscale(0%); 
        }
    }
}

.button{
    color: white;
    background:$primary;
    border-radius: 0.3em;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 1em;
    width: 200px;
    text-decoration: none;
    @include transition(background .4s ease-in-out);    
    @include transition(color .4s ease-in-out);

    &:hover{
     background:lighten(#E65100, 15);   
    }
    
    &.btninscripcion{
        background:$secondary;
        border: 1px solid white;
        &:hover{
            background: white;
            color:$secondary;
        }
    }
}



@media (max-width:800px) {
    .contacto-datos{
        text-align: center;
    }
    .carrera-hero{
        h2{
            font-size:4em;
        }
    }
}
@media (max-width:480px) {
        nav{
            display: none;
        }
        .carrera-hero{
        h2{
            font-size:3em;
        }
    }
}