.pure-g {
  letter-spacing: -0.31em;
  /* Webkit: collapse white-space between units */
  *letter-spacing: normal;
  /* reset IE < 8 */
  *word-spacing: -0.43em;
  /* IE < 8: collapse white-space between units */
  text-rendering: optimizespeed;
  /* Webkit: fixes text-rendering: optimizeLegibility */ }

/* Opera as of 12 on Windows needs word-spacing.
   The ".opera-only" selector is used to prevent actual prefocus styling
   and is not required in markup.
*/
.opera-only :-o-prefocus,
.pure-g {
  word-spacing: -0.43em; }

.pure-u {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /* IE < 8: fake inline-block */
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.pure-u-1,
.pure-u-1-2,
.pure-u-1-3,
.pure-u-2-3,
.pure-u-1-4,
.pure-u-3-4,
.pure-u-1-5,
.pure-u-2-5,
.pure-u-3-5,
.pure-u-4-5,
.pure-u-1-6,
.pure-u-5-6,
.pure-u-1-8,
.pure-u-3-8,
.pure-u-5-8,
.pure-u-7-8,
.pure-u-1-12,
.pure-u-5-12,
.pure-u-7-12,
.pure-u-11-12,
.pure-u-1-24,
.pure-u-5-24,
.pure-u-7-24,
.pure-u-11-24,
.pure-u-13-24,
.pure-u-17-24,
.pure-u-19-24,
.pure-u-23-24 {
  display: inline-block;
  zoom: 1;
  *display: inline;
  /* IE < 8: fake inline-block */
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.pure-u-1 {
  width: 100%; }

.pure-u-1-2 {
  width: 50%; }

.pure-u-1-3 {
  width: 33.33333%; }

.pure-u-2-3 {
  width: 66.66666%; }

.pure-u-1-4 {
  width: 25%; }

.pure-u-3-4 {
  width: 75%; }

.pure-u-1-5 {
  width: 20%; }

.pure-u-2-5 {
  width: 40%; }

.pure-u-3-5 {
  width: 60%; }

.pure-u-4-5 {
  width: 80%; }

.pure-u-1-6 {
  width: 16.656%; }

.pure-u-5-6 {
  width: 83.33%; }

.pure-u-1-8 {
  width: 12.5%; }

.pure-u-3-8 {
  width: 37.5%; }

.pure-u-5-8 {
  width: 62.5%; }

.pure-u-7-8 {
  width: 87.5%; }

.pure-u-1-12 {
  width: 8.3333%; }

.pure-u-5-12 {
  width: 41.6666%; }

.pure-u-7-12 {
  width: 58.3333%; }

.pure-u-11-12 {
  width: 91.6666%; }

.pure-u-1-24 {
  width: 4.1666%; }

.pure-u-5-24 {
  width: 20.8333%; }

.pure-u-7-24 {
  width: 29.1666%; }

.pure-u-11-24 {
  width: 45.8333%; }

.pure-u-13-24 {
  width: 54.1666%; }

.pure-u-17-24 {
  width: 70.8333%; }

.pure-u-19-24 {
  width: 79.1666%; }

.pure-u-23-24 {
  width: 95.8333%; }

@media (max-width: 800px) {
  .pure-g div {
    width: 100%; } }
body {
  margin: 0;
  font-family: "Lato";
  font-weight: 400; }

h2 {
  font-weight: 300;
  font-size: 2.3em;
  text-align: center; }

img {
  width: auto;
  max-width: 100%;
  height: auto; }

header {
  padding: 0.5em; }
  header h1.logo-white {
    margin: 0;
    display: inline-block;
    min-height: 78px;
    min-width: 300px;
    background: url(../img/logo-carrerawhite.png) no-repeat;
    background-size: contain;
    overflow: hidden;
    text-indent: -3000px; }

footer {
  background: #333;
  min-height: 50px;
  padding: 1em;
  color: white; }

.content {
  width: 100%;
  margin: auto; }

.carrera-hero {
  padding: 4em 1em;
  background: #E65100 no-repeat 0 0;
  background-image: url(../img/sun-run.jpg);
  background-size: cover;
  color: white;
  text-align: center;
  position: relative; }
  .carrera-hero .logo, .carrera-hero .hero {
    position: relative; }
  .carrera-hero h2 {
    font-family: "Copperplate Gothic";
    font-size: 6em;
    font-weight: 500;
    margin: 0; }

.valores {
  background: #E65100;
  color: white;
  padding: 1em;
  text-align: center; }
  .valores h2, .valores p {
    max-width: 800px;
    margin: 1em auto; }
  .valores p {
    font-size: 1.5em; }

.greatwall {
  background: #333 no-repeat;
  background-image: url(../img/greatwall.jpg);
  background-size: cover;
  border: 1px solid #333;
  position: relative;
  text-align: center;
  margin: 0;
  overflow: hidden; }
  .greatwall div.gw-logo {
    font-size: 1.5em;
    font-family: "Kaushan Script";
    position: relative;
    background: white;
    padding: 1em;
    position: relative; }
    .greatwall div.gw-logo:before {
      content: " ";
      top: 0;
      left: 100%;
      position: absolute;
      border-width: 560px 5em 0px 0px;
      border-color: white transparent;
      border-style: solid;
      width: 0;
      height: 0;
      -moz-transform: scale(0.9999); }
    .greatwall div.gw-logo p {
      margin: 0.3em; }
  .greatwall div.gw-hero {
    padding-left: 5m;
    position: relative;
    color: #fff; }
    .greatwall div.gw-hero h2 {
      font-size: 3em; }
      .greatwall div.gw-hero h2 span {
        color: #D2FF4D;
        display: inline-block;
        border-top: 5px #D2FF4D solid;
        border-bottom: 5px #D2FF4D solid;
        padding: 0.1em;
        margin: 0.1em;
        font-size: 2em; }

.contacto {
  background: #333;
  color: white;
  padding: 2em 0; }
  .contacto div {
    padding: 1em; }

.contacto-datos ul {
  padding: 0;
  list-style: none;
  max-width: 600px;
  margin: 0 auto; }
  .contacto-datos ul li {
    font-weight: 700; }
    .contacto-datos ul li li {
      display: inline-block;
      height: 24px;
      font-weight: 400;
      line-height: 24px;
      margin-left: 30px;
      padding: 0.6em  0.8em 0.8em 0;
      position: relative; }
      .contacto-datos ul li li:before {
        background: white;
        border-radius: 50%;
        color: #333;
        left: -30px;
        line-height: 24px;
        text-align: center;
        height: 24px;
        width: 24px;
        position: absolute;
        top: .6em; }

.patrocinadores {
  text-align: center; }

.pantalla {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0; }

.imagenes-p li {
  padding: 1em;
  /*
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
  @include transition-property(transform);
  @include transition-duration(1.0s);
  @include transition-timing-function(ease-in);
  @include transition-delay(0.5s)*/ }
  .imagenes-p li:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%); }

@media (max-width: 800px) {
  .contacto-datos {
    text-align: center; } }

/*# sourceMappingURL=stye.css.map */
